<!DOCTYPE html>
<html lang="eng">
<head>
<title>Luke Cardita's About Me Page</title>
<link rel="stylesheet" type="test/css" href="style.css" />
</head>
<body>
<h1>THIS IS ABOUT ME!!!!</h1>
<ul>
    Click the Links Below!
    <li><a href="/">Home</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="aboutme">About Me!</a></li>
    <li><a href="outoftouch">Out of Touch!</a></li>
    </ul>
    </nav>
<img alt="Cloud" src="https://ffvii-remake.square-enix-games.com/images/characters/characters_profile_cloud.png"
         width=400" height="400">
</body>
</html>  