<!DOCTYPE html>
<html lang="eng">
<head>
<title>Luke Cardita's About Me Page</title>
<style>
    body {background-color: powderblue;}
    h1   {color: blue;}
    p    {color: green;}
    </style>
</head>
<body>
<h1>THIS IS ABOUT ME!!!!</h1>
<ul>
    Click the Links Below!
    <li><a href="/">Home</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="aboutme">About Me!</a></li>
    <li><a href="outoftouch">Out of Touch!</a></li>
    </ul>
    </nav>
<p> My Name is Luke Cardita. I am currently a Junior at Marist College. I major in Marketing, and have minors in data analysis and sports communication.
    I am taking an intro to programming class because it is a prerequisite for the data analysis minor, and I wanted to learn some simple coding 
    for use in the real world
</p>
<p> My all time favorite video game is Final Fantasy 7. The original game was released in 1997, but it was remastered with amazing
    graphics this year in 2020. It was one of the best ways for me to get through the quarantine, and it was really fun to see how the 
    developers of the game changed the remake compared to the original game. Below is a picture of Cloud, the main character. Despite him being VERY anime, he's a really
    well written character with a good story.
</p>
<img alt="Cloud" src="https://ffvii-remake.square-enix-games.com/images/characters/characters_profile_cloud.png"
         width=400" height="400">
</body>
</html>  