<!DOCTYPE html>
<html lang="eng">
<head>
<title>Luke Cardita's Contact Page</title>
<style>
    body {background-color: powderblue;}
    h1   {color: blue;}
    p    {color: black;}
    </style>
</head>
<body>
<h1>Contact me!</h1>
<p> I don't really know why you'd wanna contact me, but feel free to do it anyways </p>
<p>Email: lukecardita@gmail.com
    Phone: (203)-501-8273 
    Give me a song recommendation or something </p>
<img alt="phone" src="https://cdn.vox-cdn.com/thumbor/E8c5U6A_RrsyiwRANmcCLNE2dzc=/0x0:2040x1360/1400x933/filters:focal(860x560:1186x886):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/55855309/akrales_190913_3628_0277.19.jpg" width=300" height="225">
<nav>
<ul>
Click the Links Below!
<li><a href="/">Home</a></li>
<li><a href="contact">Contact</a></li>
<li><a href="aboutme">About Me!</a></li>
<li><a href="outoftouch">Out of Touch!</a></li>
</ul>
</nav>
</body>
</html>  