<!DOCTYPE html>
<html lang="eng">
<head>
<title>Luke Cardita's Homepage</title>
<link rel="stylesheet" type="test/css" href="style.css" />
</head>
<body>
<h1>Welcome to My Webpage!</h1>
<p>On this website there's tons of information about me. I'm doing this to learn more about coding for my intro to programming class. 
Even though I'm kind of lost sometimes, it's fun to learn how this stuff works and it's pretty satisfying when I finally figure it out
</p>
<nav>
<ul>
Click the Links Below!
<li><a href="/">Home</a></li>
<li><a href="contact">Contact</a></li>
<li><a href="aboutme">About Me!</a></li>
<li><a href="outoftouch">Out of Touch!</a></li>
</ul>
</nav>
</a>
</body>
</html>  


