<!DOCTYPE html>
<html lang="eng">
<head>
<title>Luke Cardita's Out of Touch Thursdays</title>
<style>
    body {background-color: powderblue;}
    h1   {color:royalblue;}
    p    {color: royalblue;}
    </style>
</head>
<body>
<h1>It's Out Of Touch Thursdays!!!!</h1>
<p> I'm aware this is very random but this song has been stuck in my head for roughly 3 weeks now and I wanted to see if
    I could embed a youtube video in my website so here we are. 
    It's out of touch Thursdays!!!!!! 
</p>
<p> *disclaimer* - It may not be a Thursday. However, this song is amazing nonetheless, please listen to it anyways.</p>
<ul>
    Click the Links Below!
    <li><a href="/">Home</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="aboutme">About Me!</a></li>
    <li><a href="outoftouch">Out of Touch!</a></li>
    </ul>
    </nav>
    <iframe width="560" height="315" title = "OutofTouch" src="https://www.youtube.com/embed/DCkJ5lGPqFs"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>  